{% extends 'layout.html' %}
{% block body %}
<div>
<h1>Add Review</h1>
{% for i in rv %}
<p><h2>AUTHOR</h2> <h4> --{{i[0]}}</h4></p>
<h2>TITLE</h2> <h4>--{{i[1]}}</h4>
{% endfor %}
<h2>GOODREADS RATING -- {{new_data}}</h2>
{% from "includes/_formhelpers.html" import render_field %}


<form method="POST" action="">
    <div class="form-group">
        {{ render_field(form.review, class_="form-control")}}
    </div>
    <p><input class="btn btn-primary" type="submit" value="submit"></p>
</form>
</div>

<div>
    <ul>
    
    {% for i in all_reviews %}
        {% if isbn==i.isbn %}
            <p>USERNAME --{{i.userid}}</p>
            <p>REVIEW --{{i.bookreview}}</p>
        {% endif %}
    {% endfor %}
    
</div>
</ul>

{% endblock %}